.msg {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: #777;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.mediaLeft {
    margin: 0 15px 0 0;
}

.emailH6 {
    font-size: 12px;
    color: #777777;
}

.distanceLabel {
    color: #777777;
}

.loggedInLabel {
    color: #777777;
}
