.col {
  margin: 15px 0;
  max-height: 70vh;
  overflow: auto;
}

.reverseRow {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .reverseRow {
    display: flex;
    flex-direction: row;
  }
}
